.counter {
  display: flex;
  align-items: center;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  gap: 10px;
}

.increase,
.decrease {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: #fff;
}
.value {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  border: none;
}
