.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 768px;
  + .items {
    margin-top: 30px;
  }
}
.img {
  max-width: 100px;
  max-height: 100px;
  img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 10px;
  }
}
.name {
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
}
.price {
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
}
.quantity {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.subtotalPrice {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #000;
}
.additionally {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
