.btn {
  padding: 20px 90px;
  color: #fff;
  background-color: #121212;
  font-size: 16px;
  font-weight: 500;
  line-height: 120.00000476837158%;
  letter-spacing: 3%;
  text-transform: uppercase;
  cursor: pointer;
}
