.btn {
  width: 100%;
  padding: 13px 0;
  color: #fff;
  background-color: #121212;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 100px;
  color: #fff;
}
