.wrap {
  background: #f9f1e7;
  margin-bottom: 50px;
}
.container {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.setting {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  gap: 10px;
  align-items: center;
}
.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  input {
    max-width: 100px;
    height: 55px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 15px;
  }
  select {
    padding: 10px;
    border-radius: 15px;
  }
}
