.results {
  text-align: center;
  padding: 30px 75px 80px 75px;
  background: #f9f1e7;
  p {
    margin: 0px;
  }
  @media (max-width: 768px) {
    padding: 20px 30px 30px 30px;
  }
}
.title {
  font-weight: 600;
  font-size: 32px;
  color: #000;
  margin: 0;
}
.subtotal {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
  span {
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
  }
}
.total {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
  span {
    font-weight: 500;
    font-size: 20px;
    color: #b88e2f;
  }
}
.btn {
  display: block;
  margin-top: 40px;
  border: 1px solid #000;
  border-radius: 15px;
  background: transparent;
  padding: 14px 50px;cursor: pointer;
}
