.wrap {
  .btn {
    max-width: 100px;
    padding: 10px;
    margin-left: 15px;
  }
}

.header {
  display: flex;
  align-items: center;
}
.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 15px 0;
}
.item {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.remove {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline;
}
.color {
  width: 15px;
  height: 15px;
}
.inputColor {
  max-width: 300px;
}
.text {
  margin: 0 5px;
}
