.color {
  width: 30px;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  border: none;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  border: 1px solid #000;
}
.color {
  border-radius: 100px;
  &.active {
    border-radius: 5px;
  }
}
