.wrap {
  max-width: calc(1440px + 20px);
  padding: 0 10px;
  text-align: center;
  margin: 0 auto 50px auto;
}
.subtitle {
  margin-top: 70px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #616161;
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #3a3a3a;
}
.images {
  width: 100%;
}
