.wrap {
  margin: 110px 0 50px 0;
  text-align: center;
}
.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #616161;
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #3a3a3a;
}
.images {
  width: 100%;
}
