.wrap {
  display: flex;
  gap: 100px;
  h4 {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin: 36px 0 22px 0;
  }
  input,
  select {
    width: 100%;
    padding: 25px 30px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    gap: 30px;
    flex-direction: column;
  }
}
.detail {
  padding: 30px 0 70px 70px;
  .row {
    gap: 30px;
  }
  &Title {
    font-weight: 600;
    font-size: 36px;
    color: #000;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.confirm {
  padding: 90px 40px 90px 0;
  p {
    font-weight: 300;
    font-size: 16px;
    color: #000;
    &.itemText {
      color: #9f9f9f;
    }
    &.totalPrice {
      font-weight: 700;
      font-size: 24px;
      color: #b88e2f;
    }
  }
  @media (max-width: 768px) {
    padding: 0 0 30px 0;
  }
}

.btn {
  display: block;
  padding: 17px 100px;
  border: 1px solid #000;
  border-radius: 15px;
  background: #fff;
  margin: 40px auto 0 auto;
}
