.title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: #000;
  margin: 100px 0 0 0;
  @media (max-width: 768px) {
    margin: 50px 0 0 0;
  }
}
.subtitle {
  max-width: 650px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #9f9f9f;
  margin: 8px auto 0 auto;
}
.content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}
