.form {
  width: 100%;
  max-width: 640px;
  padding: 120px 50px 60px 0;
  @media (max-width: 1024px) {
    padding: 120px 0 60px 0;
    width: 400px;
  }
  @media (max-width: 768px) {
    padding: 20px 0 20px 0;
    width: 100%;
    margin: 0 auto;
  }

  label {
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin: 10px 0 10px 0;
  }
  input,
  textarea {
    padding: 25px 30px;
    width: 100%;
    background: #fff;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
  }
  textarea {
    resize: none;
    margin-bottom: 30px;
  }
  fieldset {
    border: 1px solid rgba(0, 0, 0, 0.2117647059);
    border-radius: 10px;
  }
}
.loader {
  justify-content: center;
  margin: 20px 0;
}
