.slider {
  .swiper-pagination {
    display: flex;
    gap: 20px;
    bottom: 0;
    left: 10px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #b88e2f;
  }
  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    position: relative;
    &::after {
      content: "";
      width: 27px;
      height: 27px;
      border: 1px solid #b88e2f;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100px;
    }
  }
}
