.info {
  padding: 150px 0 70px 50px;
  @media (max-width: 1024px) {
    padding: 150px 0 70px 0px;
  }
  @media (max-width: 768px) {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;align-items: center;
    flex-wrap: wrap;
  }
}
.item {
  max-width: 260px;
  display: flex;
  align-items: center;
  gap: 30px;

  h3 {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin: 0 0 10px 0;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin: 0;
  }
  + .item {
    margin-top: 40px;
  }
}
.icon {
  font-size: 30px;
}
