.text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.input {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  padding: 15px 10px;
  border-radius: 100px;
  border: none;
}
