.wrap {
  margin: 0 0 0 140px;
}
.title {
  font-weight: 500;
  font-size: 16px;
  color: #9f9f9f;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.item {
  margin-top: 30px;
}
.link {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
