.size {
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  border: none;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}
.size {
  background: #f9f1e7;
  border-radius: 5px;
  &.active {
    color: #fff;
    background: #b88e2f;
  }
}
